.formulario{ 
width: 400px; 
padding: 30px; 
border:1px 
solid #ccc; 
position: center;

} 
.formulario p{ 
width: 100%; 
font-size: 1.5em; } 

.fieldb{ 
width: 100%; 
margin: 15px 0; 
} 
.field label, 
.field span{ 
padding-left: 10px; 
font-size: 1.1em; 
display: block; 
width: 100%; 
}
.radiobox label{ 
 width: auto; 
 display: inline-block;
}
 input[type=text], input[type=email], input[type=password], input[type=date], textarea
{ 
width: 100%; 
padding-left: 10px; 
height: 30px; 
line-height: 30px; 
border-radius: 15px; 
border: 1px 
solid #ccc;
outline: none;
} input#nao{
   margin-left: 30px; 
} 
textarea{ 
line-height: 20px; 
padding: 10px; 
height: 90px; 
resize: none; 
} 

input[type=submit]{ 
display: block; 
background-color: #ccc; 
height: 35px; 
border: none; 
outline: 0; 
cursor: pointer; 
width: 100px; 
margin: 0 auto; 
text-align: center; 
border-radius: 15px; 
}
.word {
    width: 200px;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 1;
}
checkbox-menu{
  position: absolute;
  opacity: 0;
}
/*começo do código para a página*/
body {
	background-color: #FFFFFF;
	
}

#ma {
	max-width: 490px;
	height: 70px;
	background: #000033;
	position: center;

}
#lo {
	position: relative;
	width: 20%;
	height: 70%;
	border-radius: 70px;
	top: 9px;
	left: 9px;

}


div {
	max-width: 490px;
}
#logos {
	position: center;
	width: 490x;
	text-align: center;
	left: 28px;
	top: 29x;
}
.im {
	position: relative;
	text-align: center;
	width: 8%;
	height: 9%;
}
footer {
	position: relativo;
	background: #000033;
	max-width: 490px;
	height: 80x;
	top: 38px;
}
#oi {
	position: relativo;
	color: #ffffff;
	text-align: center;
	font-size: 17px;
	top: 35px;
}
